<!doctype html>
<html>
<head>
    <title>4 pictures 1 word game</title>
    <link href="stylesheets/style.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="javascripts/game.js"></script>
</head>
<body>
<div class="container">
    <div class="header">
        <div id="level-menu">
            Level: 1
        </div>
        <div id="info-menu" class="font-effect-fire">
            Information here
        </div>
        <div id="next-menu">
            Tap to go next
        </div>
    </div>
    <div class="main">
        <div id="pictures">
            <div id="first-column">
                <div id="picture-1"></div>
                <div id="picture-2"></div>
            </div>
            <div id="second-column">
                <div id="picture-3"></div>
                <div id="picture-4"></div>
            </div>
        </div>
        <div id="answer"></div>
        <div id="letters">
            <div id="row-1"></div>
            <div id="row-2"></div>
        </div>
    </div>
    <div class="footer">
        <div id="footer-text">
            &copy; Most Wanted, 2013
        </div>
    </div>
</div>
</body>
</html>